@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

.input {
  @apply w-full bg-slate-800/50 border border-slate-700 rounded-lg py-2 pl-10 pr-4 text-slate-200 placeholder-slate-400 focus:ring-2 focus:ring-yellow-500 focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-yellow-400 size-5;
}

.auth-input-label {
  @apply block text-sm font-medium text-gray-100 mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-yellow-500/20 text-yellow-300;
}

.auth-btn {
  @apply w-full bg-yellow-500 text-white rounded-lg py-2.5 font-medium
  hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500;
}

.auth-link {
  @apply px-4 py-2 inline-block bg-yellow-500/10 rounded-lg text-yellow-400
  hover:text-yellow-500 text-sm transition-colors;
}